# application-prod.yml
spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 4
      connection-timeout: 2000
  jpa:
    hibernate:
      ddl-auto: validate
logging:
  level:
    root: WARN
